body {
  margin: 6.5em auto 2.5em auto;
  padding: 0.5em 1.5em;

  max-width: 70ex;
  text-align: left;
  font-family: 'Droid Serif', serif;

  color: #999;
}

.discreet, .discreet a, .discreet a:active, .discreet a:visited {
  color: #999;
}

.header {
  text-align: right;
}

.footer {
  margin-top: 4em;
  text-align: center;
}

.footer a, .footer a:active, .footer a:visited {
  color: #999;
}

h1 a, h1 a:active, h1 a:visited,
h2 a, h2 a:active, h2 a:visited,
h3 a, h3 a:active, h3 a:visited,
h4 a, h4 a:active, h4 a:visited,
h5 a, h5 a:active, h5 a:visited
{
  color: #999;
  text-decoration: none;
}
