
body {
  margin: 1em auto 2.5em auto;
  padding: 0.5em 1.5em;

  max-width: 90ex;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;

  background-color: white;
  --text-color: #301010;
  --monospace-text-color: #849090;
  color: var(--text-color);
  --grey-picture-frame: #e0e1e0;
  --sep-line: var(--grey-picture-frame) dashed 1px;
}


h1, h2, h3, h4 ,h5 {
  color: #020;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Override text color for text and links */
a, a:active, a:visited {
  color: var(--text-color);
}

.artworks {
  padding-top: 40px;
}

.bureaucratic,
.bureaucratic a,
.bureaucratic a:active,
.bureaucratic a:visited {
  font-family: monospace;
  color: var(--monospace-text-color);
}

.header {
  text-align: right;
}

.footer {
  margin-top: 4em;
  text-align: center;
}

.footer a, .footer a:active, .footer a:visited {
  color: var(--monospace-text-color);
}

h1 a, h1 a:active, h1 a:visited,
h2 a, h2 a:active, h2 a:visited,
h3 a, h3 a:active, h3 a:visited,
h4 a, h4 a:active, h4 a:visited,
h5 a, h5 a:active, h5 a:visited
{
  color: var(--text-color);
  text-decoration: none;
}

h3 {
  margin-top: 2em;
}

.navbar {
  display: block;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 110%;
  padding-bottom: 1em;
  border-bottom: var(--sep-line);
  margin-bottom: 2em;
}

.navbar a {
  margin-left: 1em;
  text-decoration: none;
}

.important_text {
  font-weight: 300;
}

/*
  Artwork caption
*/

.title_line {
}

.author_line {
}

.medium_line {
  margin: 0.5em 0em;
  font-size: 80%;
}

.price_line {
  margin: 1em 0em;
  font-weight: 300;
}

/*
  Roboto font, copied from Google Fonts instructions
  (we don't use these classes but they tell us what's available)
*/
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
